// Menu desktop version
#draggable.icon-bar(title="MENU")
    nav#nav
        a(href="/" title="Home Page")
            img(src="/resources/img/icons/set0/home.svg" width="70%" alt="Home")
        a(href="/works" title="Works Gallery")
            img(src="/resources/img/icons/set0/shop.svg" width="70%" alt="Works Gallery")
        a(href="/cart" title="cart")
            img(src="/resources/img/icons/set0/cart.svg" width="70%" alt="cart")
        a(href="/blog" title="My Personal Blog")
            img(src="/resources/img/icons/set0/blog.svg" width="70%" alt="Blog")
        a(href="/contacts" title="Contacts")
            img(src="/resources/img/icons/set0/mail.svg" width="70%" alt="Contacts")