// Menu mobile version
.icon-bar-mobile(title="MENU")
    nav#nav
        .button
            a(href="/" title="Home Page")
                img.iconMobileMenu(src="/resources/img/icons/set0/home.svg" width="19%" alt="Home")
            a(href="/works" title="Works Gallery")
                img.iconMobileMenu(src="/resources/img/icons/set0/shop.svg" width="19%" alt="Works Gallery")
            a(href="/cart" title="cart")
                img.iconMobileMenu(src="/resources/img/icons/set0/cart.svg" width="19%" alt="cart")
            a(href="/blog" title="Check Out")
                img.iconMobileMenu(src="/resources/img/icons/set0/blog.svg" width="19%" alt="Blog")
            a(href="/contacts" title="Contacts")
                img.iconMobileMenu(src="/resources/img/icons/set0/mail.svg" width="19%" alt="Contacts")